.externalNativeBuild
.gradle
.idea
*.iml
android.keystore
build
local.properties
MAVEN
tags
mupdf-*-android-viewer.apk
mupdf-*-android-viewer--app-release.aab
commit.md
/.claude
/.vscode
.vscode/settings.json
*.hprof
pull_request.md
